body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3a3a3a;
}

.top {
  width: 100%;
  height: 15vh;
}

@media (max-width: 500px) {
  .top {
    height: 0;
  }
}

.middle {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 480px;
  width: 100%;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.time-left {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 42px;
  color: gray;
}

.tap-area {
  position: relative;
  cursor: pointer;
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#755bea), to(#ff72c0));
  background: linear-gradient(90deg, #755bea, #ff72c0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: white;
  overflow: hidden;
}

.start {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#755bea), to(#ff72c0));
  background: linear-gradient(90deg, #755bea, #ff72c0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.taps {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 42px;
  color: gray;
}

.taps-per-second {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 42px;
  color: gray;
}

.bottom {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

@media (max-width: 500px) {
  .bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.chose-time {
  margin-right: 10%;
  max-width: 220px;
  width: 100%;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .chose-time {
    margin-right: 0%;
  }
}

.chose-time .time {
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: double 1px transparent;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#3a3a3a)), radial-gradient(circle at top left, #755bea, #ff72c0);
  background-image: linear-gradient(#3a3a3a, #3a3a3a), radial-gradient(circle at top left, #755bea, #ff72c0);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chose-time .time span {
  font-size: 28px;
  background: -webkit-gradient(linear, left top, right top, from(#755bea), to(#ff72c0));
  background: linear-gradient(90deg, #755bea, #ff72c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chose-time .time .timeSpanColorChange {
  background: -webkit-gradient(linear, left top, left bottom, from(white));
  background: linear-gradient(white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chose-time .timeBgcChange {
  background-image: -webkit-gradient(linear, left top, right top, from(#755bea), to(#ff72c0));
  background-image: linear-gradient(90deg, #755bea, #ff72c0);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.change-size {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
  opacity: .1;
}

@-webkit-keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 1000px;
    height: 1000px;
  }
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 1000px;
    height: 1000px;
  }
}
/*# sourceMappingURL=style.css.map */